<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TheMovieDbApiKey" value="5b248bf30f10ac66d811347ebd98c123" />
    <add key="TheMovieDbBaseUrl" value="https://api.themoviedb.org/" />
  </appSettings>
</configuration>